# IDE files.
/**/.idea/
/**/.vscode/
/**/.cursor/
# AI files.
/**/.openai/
/**/.anthropic/
/**/.claude/

# Packages & distribution files.
/**/node_modules/
/**/dist/
/**/build/
/**/*.tsbuildinfo*

# Operating system files.
/**/.DS_Store
/**/*.ini
